<header id="home">
  <nav class="navbar navbar-expand-md fixed-top scrolling-navbar bg-white">
    <div class="container">
      <a class="navbar-brand" href="/"
        style="font-family: 'Montserrat', sans-serif; font-weight: 700; font-size: medium;">
         Books Everywhere <i class="mdi mdi-book-open-page-variant" style="color: #dc3545;"></i>
      </a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse"
        aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
        <i class="lni-menu"></i>
      </button>
      <div class="collapse navbar-collapse" id="navbarCollapse">
        <ul class="navbar-nav mr-auto w-100 justify-content-end">
          <li class="nav-item">
            <a class="nav-link page-scroll" href="#home">Início</a>
          </li>
          <li class="nav-item">
            <a class="nav-link page-scroll" href="#features">Sobre</a>
          </li>
          <li class="nav-item">
            <a class="nav-link page-scroll" href="#login">Entrar</a>
          </li>
          <li class="nav-item">
            <a class="nav-link page-scroll" href="#register">Cadastre-se</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
</header>

<section class="section">
  <div class="container">
    <div class="row">
      <div class="col-lg-4 col-md-6 col-xs-12">
        <div class="featured-box" style="margin-top: 30%;">
          <h4 class="wow fadeInRight" data-wow-delay="0.6s">
            Uma plataforma que facilita a circulação de livros e a organização pessoal de leituras.
          </h4>
        </div>
      </div>
      <div class="col-lg-4 col-md-6 col-xs-12">
        <div class="featured-box">
          <img style="width: 200%;" src="./assets/public/img/slider/undraw_book_lover_mkck.png" alt="">
        </div>
      </div>
    </div>
  </div>
</section>

<section id="features" class="section">
  <div class="container">
    <div class="section-header">
      <h2 class="section-title">Porque nos escolher</h2>
      <p class="section-subtitle">Organize e Descubra livros.</p>
    </div>
    <div class="row">
      <div class="col-lg-4 col-md-6 col-xs-12">
        <div class="featured-box">
          <div class="featured-icon">
            <i class="mdi mdi-bulletin-board"></i>
          </div>
          <div class="featured-content">
            <div class="icon-o"><i class="mdi mdi-bulletin-board"></i></div>
            <h4>Organização</h4>
            <p>Você pode marcar o livro que está lendo, qual quer ler, qual deseja ou até qual você abandonou.</p>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-6 col-xs-12">
        <div class="featured-box">
          <div class="featured-icon">
            <i class="mdi mdi-account-multiple"></i>
          </div>
          <div class="featured-content">
            <div class="icon-o"><i class="mdi mdi-account-multiple"></i></div>
            <h4>Se conecte com outros leitores </h4>
            <p>Faça amigos e compartilhe suas experiências.</p>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-6 col-xs-12">
        <div class="featured-box">
          <div class="featured-icon">
            <i class="mdi mdi-map-marker-radius"></i>
          </div>
          <div class="featured-content">
            <div class="icon-o"><i class="mdi mdi-map-marker-multiple"></i></div>
            <h4>Encontre livros próximos a você</h4>
            <p>O livro que você deseja perto de você.</p>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-6 col-xs-12">
        <div class="featured-box">
          <div class="featured-icon">
            <i class="mdi mdi-matrix"></i>
          </div>
          <div class="featured-content">
            <div class="icon-o"><i class="mdi mdi-matrix"></i></div>
            <h4>Recomendação</h4>
            <p>Com o nosso algoritmo de recomendação, a plataforma te ajuda a escolher sua próxima leitura.</p>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-6 col-xs-12">
        <div class="featured-box">
          <div class="featured-icon">
            <i class="mdi mdi-cash-multiple"></i>
          </div>
          <div class="featured-content">
            <div class="icon-o"><i class="mdi mdi-cash-multiple"></i></div>
            <h4>Venda seus livros</h4>
            <p>Venda seus livros que estão paradas e ganhe um dinheiro extra de forma rápida e segura.</p>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-6 col-xs-12">
        <div class="featured-box">
          <div class="featured-icon">
            <i class="mdi mdi-chart-bar"></i>
          </div>
          <div class="featured-content">
            <div class="icon-o"><i class="mdi mdi-chart-bar"></i></div>
            <h4>Acompanhe sua evolução na leitura</h4>
            <p>Com uma dashboard detalhada, acompanhe sua evolução com a leitura e crie metas.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<div id="login" class="section" style="border: 1px solid #ebeaea;">
  <div class="container">
    <div class="row">
      <img style="width: 50%;" src="./assets/public/img/undraw_bookshelves_xekd.png" alt="Faça seu login.">
      <div class="col-lg-5 col-md-12 col-xs-12">
        <div class="">
          <div class="form-wrapper">
            <form [formGroup]="userForm">
              <div class="row">
                <div class="section-header">
                  <h2 class="section-title">Acessar sua conta</h2>
                </div>
                <div class="col-12 form-line">
                  <div class="form-group">
                    <input type="text" class="form-control" placeholder="Seu email ou username"
                      formControlName="username">
                  </div>
                </div>
                <div class="col-md-12 form-line">
                  <div class="form-group">
                    <input type="text" class="form-control" placeholder="Sua senha" formControlName="password">
                  </div>
                </div>
                <div class="col-12">
                  <div class="form-submit">
                    <button  type="submit" class="btn btn-sm btn-primary" [routerLink] = "['/dashboard']">Entrar</button>
                  </div>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<section id="register" class="section" style="border: 1px solid #ebeaea;">
  <div class="contact-form">
    <div class="container">
      <div class="section-header">
        <h2 class="section-title">Comece a organizar agora</h2>
        <p class="section-subtitle">Faça seu cadastro.</p>
      </div>
      <div class="row">
        <div class="col-lg-12 col-md-12 col-xs-12">
          <div class="contact-block">
            <form [formGroup]="userForm">
              <div class="row">
                <div class="col-md-4">
                  <div class="form-group">
                    <input type="text" class="form-control" placeholder="Email" autocomplete="off" id="email"
                      name="email" data-error="Por favor, digite seu email." formControlName="email">
                  </div>
                </div>
                <div class="col-md-3">
                  <div class="form-group">
                    <input type="text" class="form-control" autocomplete="off" id="username" name="username"
                      placeholder="Nome de usuário" data-error="Por favor, digite seu username."
                      formControlName="username">
                  </div>
                </div>
                <div class="col-md-3">
                  <div class="form-group">
                    <input type="text" class="form-control" autocomplete="off" id="password" name="password"
                      placeholder="Senha" data-error="Por favor, digite sua senha." formControlName="password">
                    <div class="help-block with-errors"></div>
                  </div>
                </div>
                <div class="col-md-2">
                  <div class="submit-button">
                    <button type="submit" class="btn btn-sm btn-primary" [routerLink] = "['/dashboard']">Cadastrar</button>
                  </div>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<footer class="footer-public">
  <section class="footer-Content">
    <div class="container">
      <div class="row">
        <div class="col-lg-3 col-md-6 col-sm-6 col-xs-6 col-mb-12">
          <h3>Books Everywhere</h3>
          <div class="textwidget">
            <p>Conectando pessoas e livros.</p>
          </div>
        </div>
      </div>
    </div>
  </section>
  <div id="copyright">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div class="site-info float-left">
            <p><a href="https://github.com/Books-Everywhere/" rel="nofollow"><i class="mdi mdi-github-box"></i>  Books Everywhere</a> © 2020 </p>
          </div>
          <div class="float-right">
            <ul class="nav nav-inline">
              <li><a href="#features">Sobre</a></li>
              <li><a href="#login">Entrar</a></li>
              <li><a href="#register">Cadastre-se</a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</footer>

<a href="#" class="back-to-top">
  <i class="lni-arrow-up"></i>
</a>

<div id="loader">
  <div class="spinner">
    <div class="double-bounce1"></div>
    <div class="double-bounce2"></div>
  </div>
</div>