<header id="slider-area">
  <nav class="navbar navbar-expand-md fixed-top scrolling-navbar bg-white">
    <div class="container">
      <a class="navbar-brand" href="/"
        style="font-family: 'Montserrat', sans-serif; font-weight: 700; text-transform: uppercase; font-size: medium;">
        Books Everywhere
      </a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse"
        aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
        <i class="lni-menu"></i>
      </button>
      <div class="collapse navbar-collapse" id="navbarCollapse">
        <ul class="navbar-nav mr-auto w-100 justify-content-end">
          <li class="nav-item">
            <a class="nav-link page-scroll" href="#slider-area">Início</a>
          </li>
          <li class="nav-item">
            <a class="nav-link page-scroll" href="#features">Sobre</a>
          </li>
          <li class="nav-item">
            <a class="nav-link page-scroll" href="#login">Entrar</a>
          </li>
          <li class="nav-item">
            <a class="nav-link page-scroll" href="#register">Cadastre-se</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
</header>

<section id="carousel-area" class="section">
  <div class="container">
    <div class="row">
      <div class="col-lg-4 col-md-6 col-xs-12">
        <div class="featured-box" style="margin-top: 30%;">
          <h4 class="wow fadeInRight" data-wow-delay="0.6s">
            Uma plataforma que facilita a circulação de livros e a organização pessoal de leituras.
          </h4>
        </div>
      </div>
      <div class="col-lg-4 col-md-6 col-xs-12">
        <div class="featured-box">
          <img style="width: 200%;" src="./assets/public/img/slider/hader-2-normal.png" alt="">
        </div>
      </div>
    </div>
  </div>
</section>

<section id="features" class="section">
  <div class="container">
    <div class="section-header">
      <h2 class="section-title">Porque nos escolher</h2>
      <p class="section-subtitle">Organize e Descubra livros.</p>
    </div>
    <div class="row">
      <div class="col-lg-4 col-md-6 col-xs-12">
        <div class="featured-box">
          <div class="featured-icon">
            <i class="lni-layout"></i>
          </div>
          <div class="featured-content">
            <div class="icon-o"><i class="lni-layout"></i></div>
            <h4>Organização</h4>
            <p>Você pode marcar o livro que está lendo, qual quer ler, qual deseja ou até qual você abandonou.</p>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-6 col-xs-12">
        <div class="featured-box">
          <div class="featured-icon">
            <i class="lni-tab"></i>
          </div>
          <div class="featured-content">
            <div class="icon-o"><i class="lni-tab"></i></div>
            <h4>Fully Responsive</h4>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et
              magna aliqua.</p>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-6 col-xs-12">
        <div class="featured-box">
          <div class="featured-icon">
            <i class="lni-rocket"></i>
          </div>
          <div class="featured-content">
            <div class="icon-o"><i class="lni-rocket"></i></div>
            <h4>Fast & Smooth</h4>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et
              magna aliqua.</p>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-6 col-xs-12">
        <div class="featured-box">
          <div class="featured-icon">
            <i class="lni-database"></i>
          </div>
          <div class="featured-content">
            <div class="icon-o"><i class="lni-database"></i></div>
            <h4>SEO Optimized</h4>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et
              magna aliqua.</p>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-6 col-xs-12">
        <div class="featured-box">
          <div class="featured-icon">
            <i class="lni-leaf"></i>
          </div>
          <div class="featured-content">
            <div class="icon-o"><i class="lni-leaf"></i></div>
            <h4>Clean Code</h4>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et
              magna aliqua.</p>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-6 col-xs-12">
        <div class="featured-box">
          <div class="featured-icon">
            <i class="lni-pencil"></i>
          </div>
          <div class="featured-content">
            <div class="icon-o"><i class="lni-pencil"></i></div>
            <h4>Free 24/7 Support</h4>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et
              magna aliqua.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<div id="login" class="section">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-lg-5 col-md-12 col-xs-12">
        <div class="subscribe-form">
          <div class="form-wrapper">
            <form [formGroup]="userForm">
              <div class="row">
                <div class="featured-box">
                  <img style="width: 40%; margin-left: 40%;" src="./assets/public/img/book-2.png" alt="Faça seu login.">
                </div>
                <div class="col-12 form-line">
                  <div class="form-group">
                    <input type="text" class="form-control" placeholder="Seu email" formControlName="email">
                  </div>
                </div>
                <div class="col-md-12 form-line">
                  <div class="form-group">
                    <input type="password" class="form-control" placeholder="Sua senha" formControlName="password">
                  </div>
                </div>
                <div class="col-12">
                  <div class="form-submit">
                    <button type="submit" (click)="login()" class="btn btn-common btn-effect">Entrar</button>
                  </div>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<section id="register" class="section">
  <div class="contact-form">
    <div class="container">
      <div class="section-header">
        <h2 class="section-title">Comece a organizar agora</h2>
        <p class="section-subtitle">Faça seu cadastro.</p>
      </div>
      <div class="row">
        <div class="col-lg-12 col-md-12 col-xs-12">
          <div class="contact-block">
            <form [formGroup]="userForm">
              <div class="row">
                <div class="col-md-4">
                  <div class="form-group">
                    <input type="email" class="form-control" placeholder="Email" autocomplete="off" id="email"
                      name="email" data-error="Por favor, digite seu email." formControlName="email">
                    <div class="help-block with-errors"></div>
                  </div>
                </div>
                <div class="col-md-3">
                  <div class="form-group">
                    <input type="text" class="form-control" autocomplete="off" id="username" name="username"
                      placeholder="Nome de usuário" data-error="Por favor, digite seu username."
                      formControlName="username">
                    <div class="help-block with-errors"></div>
                  </div>
                </div>
                <div class="col-md-3">
                  <div class="form-group">
                    <input type="password" class="form-control" autocomplete="off" id="password" name="password"
                      placeholder="Senha" data-error="Por favor, digite sua senha." formControlName="password">
                    <div class="help-block with-errors"></div>
                  </div>
                </div>
                <div class="col-md-2">
                  <div class="submit-button">
                    <button class="btn btn-common btn-effect" (click)="create()">Cadastrar</button>
                    <div id="msgSubmit" class="h3 hidden"></div>
                    <div class="clearfix"></div>
                  </div>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<footer>
  <section class="footer-Content">
    <div class="container">
      <div class="row">
        <div class="col-lg-3 col-md-6 col-sm-6 col-xs-6 col-mb-12">
          <h3>Books Everywhere</h3>
          <div class="textwidget">
            <p>Conectando pessoas e livros.</p>
          </div>
        </div>
      </div>
    </div>
  </section>
  <div id="copyright">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div class="site-info float-left">
            <p><a href="https://github.com/Books-Everywhere/" rel="nofollow">Books Everywhere</a> © 2020</p>
          </div>
          <div class="float-right">
            <ul class="nav nav-inline">
              <li class="nav-item">
                <a class="nav-link active" href="#features">Sobre</a>
              </li>
              <li class="nav-item">
                <a class="nav-link active" href="#subscribe">Entrar</a>
              </li>
              <li class="nav-item">
                <a class="nav-link active" href="#contact">Cadastre-se</a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</footer>

<a href="#" class="back-to-top">
  <i class="lni-arrow-up"></i>
</a>

<div id="loader">
  <div class="spinner">
    <div class="double-bounce1"></div>
    <div class="double-bounce2"></div>
  </div>
</div>